.rating-stars .stars {
  display: inline-block;
}

.rating-stars .stars.enabled{
  cursor: pointer;
}

.rating-stars .stars i.fa,
.s_customer_review i.fa {
  color: #ccc;
}
 
.rating-stars .stars i.fa-star,
.s_customer_review i.fa-star {
  color: #FFCC36;
}

.review_form {
  margin-bottom: 25px;
}

.s_customer_review .c_img {
  text-align: center;
}

.s_customer_review .c_img img {
  height: 100px;
  border-radius: 50%;
}

.s_customer_review blockquote img {
  max-width: 100% !important;
}
