@mixin flex-display {
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    display: flex;
}
@mixin align-items($align) {
    -webkit-box-align: $align;
    -webkit-align-items: $align;
    -moz-box-align: $align;
    -ms-flex-align: $align;
    -ms-grid-row-align: $align;
    align-items: $align;
};

.navbar .container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: auto;
  right: 0;
  height: 5px;
  background:rgb(255, 255, 255)  !important;
}

header .navbar-brand.logo img {
  width: auto;
  height: 3rem  !important;
  max-width: none;
}


#top_menu {
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  margin-right: 0px;
  float: inherit;
  padding-left: 18%;
}

.navbar .container li > .dropdown-menu {
  margin-top: 0px !important;
  border: none;
}

#sr_box{
border-radius: 50px;
background:rgb(255, 255, 255);
}

.o_lang_flag {
  ul {
    & > li {
      &.selected {
        text-decoration: none;
        color: #262626;
        background-color: #f5f5f5
      }
    }
  }
  a.js_lang {
    @include flex-display;
    @include align-items(center);
  }
}

.o_js_change_lang.dropdown-menu {
  min-width: auto;
}

// for tabs

.pdt-tabs .nav-link.active, .pdt-tabs .nav-item.show .nav-link {
  color: #555555;
  background-color: #ff9643;
  border-color: #d4d4d4 #d4d4d4 #ffffff;
}

.btn-primary {
  color: #fff;
  background-color: #ff9643;
  border-color: #ffffff;
}

// for search box


.overlay_search {
  z-index: 1;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay_search:target {
  visibility: visible;
  opacity: 1;
}

.popup_search {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup_search h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup_search .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup_search .close:hover {
  color: #06D85F;
}
.popup_search .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .popup_search{
    width: 70%;
  }
}
